[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/roxo"]
	path = themes/roxo
	url = https://github.com/StaticMania/roxo-hugo.git
